# vens
venv
.ven
.env
venv

# data
# data
video
invaders-backend/static/flashed_invaders_map.html
invaders-backend/data
data

# frontend
invaders-frontend/public/static/flashed_invaders_map.html

# Python things
__pycache__
*.pyc
*.pyo
.DS_Store